@{
  Layout = "_Layout";
}

@using Pierre.Models;

@if (Model.Count == 0)
{
  <p>No past orders</p>
}
<ul>
@foreach(Order order in Model )
{
<li><a href="/order/@Model.Orde"></a></li>
}
<ul>
  
<a href='/vendor/{id}/order/new'>New Order</a>
