@{
  Layout = "_Layout";
}

<form action="/vender/{id}/order/" method="post">
  <label for="orderName">Order:</label>
  <input name="orderName" type="text" placeholder="Name of Order"></input>
  <label for="orderDescription">description</label>
  <input name="orderDescription" type="text" placeholder="description of order"></input>
  <label for="orderPrice">Price:</label>
  <input name="orderPrice" type="text" placeholder="$"></input>
  <label for="orderDate">Date(mm/dd/yyyy)</label>
  <input name="orderDate" type="text" placeholder="mm/dd/yyy"></input>
  <button type="submit">Add Order</button>
</form>