@{
  Layout = "_Layout";
}


<h1>Welcome Back!</h1>
<p>Hey Pierre, to view your active vendors, click <a href='/vendors'>here!</a></p>

<p>If you'd like to add a new vendor, click <a href='/vendors/new'>here!</a></p>
